# PhpStorm project settings folder
.idea

# PHPUnit result cache file
.phpunit.result.cache

# Composer autoload and dependencies
/vendor

# Dependecies versions locked by current build
composer.lock
